
<!-- ============================================================== -->
<!-- Stats box -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="./assets/images/icon/income.png" alt="Income" /></div>
          <div class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0"><a routerLink="/graficos">Vámos allá!</a></h6>
            <h2 class="m-t-0">Gráficos</h2></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="./assets/images/icon/expense.png" alt="Income" /></div>
          <div class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0"><a routerLink="/reportes">Vámos allá!</a></h6>
            <h2 class="m-t-0">Reportes</h2></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Stats box -->
<!-- ============================================================== -->
