<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{genderLikes.leyenda}}</h4>
        <div>
          <div>
            <kenk-doughnut-chart
              [chartLabels] = "genderLikes.labels"
              [chartData] = "genderLikes.data"
              [chartType] = "genderLikes.type"
            ></kenk-doughnut-chart>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{genderVisitors.leyenda}}</h4>
        <div>
          <div>
            <kenk-doughnut-chart
              [chartLabels] = "genderVisitors.labels"
              [chartData] = "genderVisitors.data"
              [chartType] = "genderVisitors.type"
            ></kenk-doughnut-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{marcasCategoria.leyenda}}</h4>
        <div>
          <div>
            <kenk-bar-chart
              [chartLabels] = "marcasCategoria.labels"
              [chartData] = "marcasCategoria.datasets"
              [chartType] = "marcasCategoria.type"
            ></kenk-bar-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
